.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

## These are Eclipse created files I suppose
## Dont think we need them. 

.settings 
.classpath
.project
/bin

## You dont want to lug the data around in git. 
## These are data that the analytics code worked upon. 
## Generally this is data that is available freely in open forums. 
src/test/resources/data